:root {
  --8x: calc(1rem/2);
  --16x: 1rem;
  --24x: calc(1rem * 0.5);
  --32x: calc(1rem * 2);

  --h-full: 100%;
  --w-full: 100vw;
  --h-screen: 100vh;
  --w-screen: 100vw;


  --light-bg: #EEF5F8;
  --light-bg-hover: rgba(238, 245, 248, 0.6);
  --light-accent: #E78F78;
  --light-accent-hover: rgb(236, 113, 85);
  --light-brand: #43BBDC;

  --dark-bg: #696467;
  --dark-bg-hover: #565253;
  --dark-accent: #929291;


  --mobile-breakpoint: 576px;
  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 1400px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}