:root {
  --4x: calc(1rem/4);
  --8x: calc(1rem/2);
  --16x: 1rem;
  --24x: calc(1rem * 0.5);
  --32x: calc(1rem * 2);

  --h-full: 100%;
  --w-full: 100vw;
  --h-screen: 100vh;
  --w-screen: 100vw;

  --color-1: color(display-p3 0.977 0.888 0.795);
  --color-2: color(display-p3 0.091 0.043 0.218);

  --mobile-breakpoint: 480px;
  --mobile-lds-breakpoint: 768px;
  --tablet-breakpoint: 834px;
  --tablet-lds-breakpoint: 1024px;
  --lapto-and-desktop-breakpoint: 1440px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* Normal theme */
.combo-1 {
  color: var(--color-1);
  background-color: var(--color-2);
}

/* Inverse theme */
.combo-2 {
  color: var(--color-2);
  background-color: var(--color-1);
}


input {
  padding: var(--4x);
}